<nav class="nav-extended">
  <div class="nav-wrapper">
    <span class="brand-logo">Symfony with Vue.js & Encore</span>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ path('ejemplosVue') }}">Vue examples</a></li>
        <li><a href="{{ path('ejemplosEncore') }}">Encore example</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="#example1">Example 1: Data bind</a></li>
      <li class="tab"><a href="#example2">Example 2: Dynamically bound</a></li>
      <li class="tab"><a href="#example3">Example 3: To do list</a></li>
      <li class="tab"><a href="#example4">Example 4: Reverse message</a></li>
      <li class="tab"><a href="#example5">Example 5: Two-way binding</a></li>
      <li class="tab"><a href="#example6">Example 6: Components</a></li>
    </ul>
  </div>
</nav>
