{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="textoCentrado">Symfony Proyect with Vue & Encore</h1>
    <h2>Index de Prueba para Encore</h2>
    <h4 class="textoRojo">Texto de color rojo</h4>
    <button id="mostrarOcultarTexto"type="button" name="button">Mostrar/Ocultar texto</button>
    <br>
    <p id="textoOcultable">Lorem ipsum dolor sit amet consectetur adipiscing elit, dui lacus lectus a ad habitasse, porttitor vel curae varius litora mi. Sollicitudin ut risus nostra quam egestas vulputate lectus, praesent feugiat magnis dictum iaculis donec eget, et hendrerit purus nascetur sagittis gravida. Himenaeos hendrerit cursus velit luctus magna netus porttitor, tristique nullam mi tortor imperdiet montes vel sem, semper sapien suspendisse lobortis ridiculus ad. Lectus potenti blandit condimentum aliquet tincidunt massa scelerisque egestas lacinia in, rhoncus hendrerit convallis dictum odio ante taciti viverra mauris sed aptent, ridiculus felis bibendum commodo himenaeos quisque elementum eleifend velit. Hendrerit senectus dignissim arcu placerat dis euismod netus dictumst consequat eleifend, commodo ac risus ante diam rhoncus tempor justo aliquet.
    </p>
    <br>
    <h2>Indice de ejemplos usando Vue.js</h2>

{% endblock %}
