<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <span class="brand-logo">Symfony with Vue.js & Encore</span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{{ path('ejemplosVue') }}">Vue examples</a></li>
          <li><a href="{{ path('ejemplosEncore') }}">Encore example</a></li>
      </ul>
    </div>
  </nav>
</div>
